<div class="container__big-card">
  <div class="big-card__picture" [routerLink]="['/content', cardId]" >
    <img *ngIf="cardPicture" [src]="cardPicture" alt="">
    <img *ngIf="!cardPicture" src="assets/placeholder.webp" alt="">
    <div class="big-card__title-img">
     <h1>{{cardTitle}}</h1>
    </div>
  </div>
  <div class="big-card__description">
    <p>{{cardDescription}}</p>
  </div>
  <div class="big-card__footer">
    <span>Por {{cardAuthor}} - {{cardDate}}</span>

    <button [routerLink]="['/content', cardId]">Leia Mais</button>
  </div>
  <hr>
  <br>

</div>

