.container__menu-title {
  color: white;
  display: flex;
  justify-content: center;
}

.container__menu-title > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-title__title {
  height: 220px;
}

.container__menu-title > div {
  border-top: gray 0.5px solid;
  border-bottom: gray 0.5px solid;
  margin: 20px 0;
  width: 100%;
}
