.container__menu-title {
  color: white;
  display: flex;
  justify-content: center;
}

.menu-title__title {
  font-size: 7.5rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.container__menu-title > div {
  border-top: gray 0.5px solid;
  border-bottom: gray 0.5px solid;
  margin: 20px 0;
  width: 90%;
}
