.small-card__content {
  display: flex;
}

.small-card__separator > hr {
  border: 1px solid var(--color-gray);
  border-top: var(--color-black) 1px solid;
  margin: 15px auto;
}

.small-card__picture {
  overflow: hidden;
  height: 125px;
  margin-right: 10px;
}

.small-card__picture > img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
  height: 100%;
}

.small-card__picture > img:hover {
  transform: scale(1.2);
}

.small-card__title {
  padding: 0 5px;
  width: 100%;
}

.small-card__title > h1 {
  font-size: 15px;
  line-height: 25px;
}

.small-card__date {
  color:var(--color-gray);
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.small-card__text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 70%;
}
