<div class="container__content" *ngIf="newsDetail">
  <div class="content_new">
    <div class="content__cover">
      <img [src]="newsDetail.picture" alt="{{ newsDetail.title }}">
    </div>
    <div class="content__title">
      <h1>{{ newsDetail.title }}</h1>
    </div>
    <div class="content__authorDate">
      <span>Por {{ newsDetail.author }} -  {{ newsDetail.date }}</span>
    </div>
    <div class="content__description">
      <p>
        {{ newsDetail.fullNews }}
      </p>
    </div>
    <iframe  [src]="getSafeUrl(newsDetail.video)" frameborder="0" allowfullscreen></iframe>

  </div>

  <app-popular-news></app-popular-news>
</div>
