<div class="container__content">
  <div class="content__cover">
    <img src="assets/placeholder.webp" alt="">
  </div>
  <div class="content__title">
    <h1>TITULO</h1>
  </div>
  <div class="content__authorDate">
    <span>Autor</span>
    <span>Data</span>
  </div>
  <div class="content__description">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque itaque animi fugiat quo at nam, tempora atque quam adipisci corrupti molestias, perspiciatis consequatur, assumenda excepturi quidem enim recusandae asperiores provident?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque itaque animi fugiat quo at nam, tempora atque quam adipisci corrupti molestias, perspiciatis consequatur, assumenda excepturi quidem enim recusandae asperiores provident?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque itaque animi fugiat quo at nam, tempora atque quam adipisci corrupti molestias, perspiciatis consequatur, assumenda excepturi quidem enim recusandae asperiores provident?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque itaque animi fugiat quo at nam, tempora atque quam adipisci corrupti molestias, perspiciatis consequatur, assumenda excepturi quidem enim recusandae asperiores provident?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque itaque animi fugiat quo at nam, tempora atque quam adipisci corrupti molestias, perspiciatis consequatur, assumenda excepturi quidem enim recusandae asperiores provident?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque itaque animi fugiat quo at nam, tempora atque quam adipisci corrupti molestias, perspiciatis consequatur, assumenda excepturi quidem enim recusandae asperiores provident?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque itaque animi fugiat quo at nam, tempora atque quam adipisci corrupti molestias, perspiciatis consequatur, assumenda excepturi quidem enim recusandae asperiores provident?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque itaque animi fugiat quo at nam, tempora atque quam adipisci corrupti molestias, perspiciatis consequatur, assumenda excepturi quidem enim recusandae asperiores provident?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque itaque animi fugiat quo at nam, tempora atque quam adipisci corrupti molestias, perspiciatis consequatur, assumenda excepturi quidem enim recusandae asperiores provident?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque itaque animi fugiat quo at nam, tempora atque quam adipisci corrupti molestias, perspiciatis consequatur, assumenda excepturi quidem enim recusandae asperiores provident?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque itaque animi fugiat quo at nam, tempora atque quam adipisci corrupti molestias, perspiciatis consequatur, assumenda excepturi quidem enim recusandae asperiores provident?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque itaque animi fugiat quo at nam, tempora atque quam adipisci corrupti molestias, perspiciatis consequatur, assumenda excepturi quidem enim recusandae asperiores provident?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque itaque animi fugiat quo at nam, tempora atque quam adipisci corrupti molestias, perspiciatis consequatur, assumenda excepturi quidem enim recusandae asperiores provident?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque itaque animi fugiat quo at nam, tempora atque quam adipisci corrupti molestias, perspiciatis consequatur, assumenda excepturi quidem enim recusandae asperiores provident?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque itaque animi fugiat quo at nam, tempora atque quam adipisci corrupti molestias, perspiciatis consequatur, assumenda excepturi quidem enim recusandae asperiores provident?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque itaque animi fugiat quo at nam, tempora atque quam adipisci corrupti molestias, perspiciatis consequatur, assumenda excepturi quidem enim recusandae asperiores provident?
    </p>
  </div>

</div>
