.container__articles {
  display: flex;
  justify-content:space-between;
  margin-top: 20px;
}

.articles__main {
  width: 63%;
  display: flex;
  flex-direction: column;
}

.articles__others {
  width: 33%;
  display: flex;
  flex-direction: column;
}

.articles__others > h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 15px;
  border-top: white 1px solid;
  border-bottom: white 1px solid;
}

.content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
