
.container__articles {
  display: flex;
  justify-content:space-between;
  margin-top: 20px;
}

.articles__main {
  width: 63%;
  display: flex;
  flex-direction: column;
}

.articles__others {
  width: 33%;
  display: flex;
  flex-direction: column;
}

.articles__others > h1 {
  font-size: 20;
  font-weight: 700;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 15px;
  background-color: var(--color-light);
  color: var(--color-dark);
}

.content {
  width: 100%;
  margin: 0 auto;

}

.spinner {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

/* Loading -> https://codepen.io/typ90/pen/vgEbvN */

.loader {
    text-align: center;
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    animation: loader 0.8s infinite alternate;
    margin: 0 3px;
}
.loader span:nth-of-type(2) {
    animation-delay: 0.3s;
}
.loader span:nth-of-type(3) {
    animation-delay: 0.6s;
}
.loader span:nth-of-type(4) {
  animation-delay: 0.9s;
}

@keyframes loader {
  0% {
    opacity: 0.9;
    transform: scale(0.5);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}
