<app-menu-bar></app-menu-bar>

<div class="content">

  <app-menu-title></app-menu-title>

  <div class="container__articles">
    <div class="articles__main">
      <div *ngFor="let news of displayedNews">
        <app-big-card
          [cardDescription]="news.description"
          [cardPicture]="news.picture"
          [cardTitle]="news.title"
          [cardDate]="news.date"
          [cardAuthor]="news.author"
        ></app-big-card>
      </div>

      <div *ngIf="isLoading" class="spinner">Carregando mais...</div>
    </div>

    <div class="articles__others" >
      <h1>POPULARES</h1>
      <app-small-card *ngFor="let news of filteredApprovalList"
       [cardPicture]="news.picture"
       [cardTitle]="news.title"
       [cardDate]="news.date"
       [cardApproval]="news.approval"

      ></app-small-card>
    </div>


  </div>
  <app-footer></app-footer>

</div>

