<div class="content">
  <app-menu-title></app-menu-title>

  <div class="container__articles">
    <div class="articles__main">
      <div *ngFor="let news of displayedNews">
        <app-big-card
          [cardDescription]="news.description"
          [cardPicture]="news.picture"
          [cardTitle]="news.title"
          [cardDate]="news.date"
          [cardAuthor]="news.author"
          [cardId]="news.id"
        ></app-big-card>
      </div>

      <div *ngIf="isLoading" class="spinner">Carregando mais...</div>
    </div>

    <app-popular-news></app-popular-news>


  </div>

</div>

